Important Libraries which used in project 
 Pandas
 Numpy
 Seaborn
 Matplotlib
 XGboost
 Random Forest  
 keras
 sklearn
 tensorflow
 Plotly
 Time
 train_test_split
 classification_report
 confusion_matrix
 SnowballStemmer
 CountVectorizer
 make_pipeline
 Image
 Word cloud
 Beautiful Soup
 // for deployement
 fastapi 
 joblib